<p id="notice"><%= notice %></p>

<h1>Orders</h1>
<table class="table">
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Status</th>
      <th>Created at</th>
      <th>Total items price</th>
      <th>Shipping price</th>
      <th>Closed at</th>
      <th>Customer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.order(id: :desc).each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.status %></td>
        <td><%= order.created_at %></td>
        <td><%= order.total_items_price %></td>
        <td><%= order.shipping_price %></td>
        <td><%= order.closed_at %></td>
        <td><%= order.customer.first_name %> <%= order.customer.first_name %></td>
        <td><%= link_to 'Show', [:admin, order] %></td>
        <td><%= link_to 'Edit', edit_admin_order_path(order) %></td>
        <td><%= link_to 'Destroy', [:admin, order], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


