<p id="notice"><%= notice %></p>

<h1>Shipping Options</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Is local pickup</th>
      <th>Is deleted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shipping_options.each do |shipping_option| %>
      <tr>
        <td><%= shipping_option.name %></td>
        <td><%= shipping_option.description %></td>
        <td><%= shipping_option.price %></td>
        <td><%= shipping_option.is_local_pickup %></td>
        <td><%= shipping_option.is_deleted %></td>
        <td><%= link_to 'Show', [:admin, shipping_option] %></td>
        <td><%= link_to 'Edit', edit_admin_shipping_option_path(shipping_option) %></td>
        <td><%= link_to 'Destroy', [:admin, shipping_option], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shipping Option', new_admin_shipping_option_path %>
