<h1>Customer and shipping</h1>

<%= form_for(@customer, url: update_customer_path(@customer), html: {method: 'patch'}) do |f| %>
<div class="field">
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
</div>

<div class="field">
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</div>
<%= f.fields_for :address, @customer.address do |s| %>
    <div class="field">
      <%= s.label :country %><br />
      <%= s.text_field :country %>
    </div>
    <div class="field">
      <%= s.label :city %><br />
      <%= s.text_field :city %>
    </div>
    <div class="field">
      <%= s.label :address_line1 %><br />
      <%= s.text_field :address_line1 %>
    </div>
    <div class="field">
      <%= s.label :address_line2 %><br />
      <%= s.text_field :address_line2 %>
    </div>
    <div class="field">
      <%= s.label :zip_postal_code %><br />
      <%= s.text_field :zip_postal_code %>
    </div>
    <div class="field">
      <%= s.label :phone_number %><br />
      <%= s.text_field :phone_number %>
    </div>
<% end %>
<div class="actions">
  <%= f.submit "Proceed to next step", class: "btn btn-success" %>
</div>
<% end %>