<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Sku number:</strong>
  <%= @product.sku_number %>
</p>

<p>
  <strong>Is deleted:</strong>
  <%= @product.is_deleted %>
</p>

<%= link_to 'Back', products_path %>
